*{
    margin: 0;
    padding: 0;
}
body{
    background:whitesmoke;
}
.logotipo{
    text-align: center;
    margin: 18px;
    display: block;
   padding: 10px;
}
header, .main, footer{
    width: 95%;
    max-width:1130px ;
    margin:25px auto;
}
header nav{
    background:rgb(255, 255, 140);
    overflow: hidden;
}
header nav ul{
    float: center;
    list-style:none;
}
header nav ul li{
    text-align: center;
    float: center;
}
header nav ul li a{
    padding: 20px 52.2px;
    display: block;
    color: black;
    font-size: 22px;
    text-decoration: none;
}
header nav ul li a:hover{
    background:whitesmoke;
    color: Teal;
}
.main .articles{
    margin-right: 1.5%;
    width: 65%;
    float: left;
    margin-bottom:20px;
}
p{
    text-align: justify;
    font-size:20px;
    margin: 15px 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    text-align: center;
    font-size: 25px;
    margin: 25px;
    color: rgb(116, 116, 116);
}
.img{
    text-align: center;
    display: block;
    border-radius: 20px;
   padding: 10px;
   border:7px solid rgb(255, 255, 140) ;
}
.main .articles article{
    padding: 25px;
     background: rgb(230, 229, 229);
    margin-bottom: 20px;
}
aside{
    width:33%;
    background:rgb(195, 219, 219) ;
    float: left; 
    margin-bottom: 15px;
    padding: 20px;
    box-sizing: border-box;
}
.Recomendaciones{
    font-size: 30px;
    text-align: center;
    margin: 20px 20px;
    margin-top: 30px;
}

 .footer{
    background: rgb(255, 255, 140) ;
    color:teal;
    font-size: 22px;
    clear: both;
    padding: 10px 10px;
    text-align: center;
}